# dependencies
backend/.venv/
frontend/node_modules/

# testing
coverage/

# next.js
frontend/.next/
frontend/out/

# production
frontend/build/

# misc
.DS_Store
**/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/

# egg-info
**/egg-info/
**/*.egg-info/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

backend/das_copy_trader.db